<div class="mt-24">
  <section>
    <div class="relative grid grid-cols-1 lg:grid-cols-9 md:grid-cols-7 grid-rows-none h-32 sm:mx-10 mx-2">
      <div class="lg:col-start-3 lg:col-span-5 md:col-start-2 md:col-span-5">
        <h1 class="text-center font-kosugi text-blackpanther lg:text-xl md:text-lg text-base font-medium my-4">Muksearchについて</h1>
        <p class="text-center font-mplus text-stone600 lg:text-base md:text-sm text-xs leading-relaxed">
          モッパン動画を、検索ワード選択する事で入力する手間なく<br>日本語＆韓国語から気軽に検索できるサービスです。
        </p>
        <p class="text-center font-mplus text-stone600 lg:text-base md:text-sm text-xs leading-relaxed">
          ユーザー登録した方限定で、任意の検索ワードが作成できます。
        </p>
      </div>
    </div>
  </section>

  <div class="border-b border-blackpanther border-dotted my-8 mx-12"></div>

  <section class="mb-12">
    <div class="grid lg:grid-cols-9 md:grid-cols-7 grid-cols-4 grid-rows-3 gap-y-6 sm:mx-10 mx-2">
      <div class="lg:col-start-3 lg:col-span-5 md:col-start-2 md:col-span-5 col-start-1 col-span-4 sm:h-44 h-36">
        <h1 class="text-center font-kosugi text-blackpantherlg:text-xl md:text-lg text-base font-medium my-4">モッパン動画とは？</h1>
        <p class="text-center font-mplus text-stone600 lg:text-base md:text-sm text-xs">
          YouTubeなどの動画配信サイトにて、<br>多くの料理を並べておいしそうに食事をする様子を配信したり、<br>咀嚼音をASMRとして楽しむような動画のことです。
          <br>世界でも多く投稿されています。
        </p>
      </div>

      <div class="lg:col-start-2 lg:col-span-5 md:col-start-1 md:col-span-5 col-start-1 col-span-3 sm:h-44 h-36">
        <h1 class="text-center font-kosugi text-blackpanther lg:text-xl md:text-lg text-base font-medium my-4">モッパン（モクバン）</h1>
        <p class="text-center whitespace-normal font-mplus text-stone600 lg:text-base md:text-sm text-xs sm:mx-10 xs:mx-4 mx-3">
          韓国で広まった食事の様子を配信する動画コンテンツの事。
          元々韓国語で「食べる(モグヌン)」と「放送(バンソン)」を
          合わせて「モッパン」と呼ばれるようになり、
          今では多くの動画のタイトルに使用されています。
        </p>
      </div>
      <div class="flex items-center lg:col-start-7 lg:col-span-2 md:col-start-6 md:col-span-2 col-start-4 sm:h-44 h-36">
        <%= image_tag '0978.png', class: 'h-max aspect-auto mx-auto' %>
      </div>

      <div class="flex items-center lg:col-start-2 lg:col-span-2 md:col-start-1 md:col-span-2 col-start-1 sm:h-44 h-36">
        <%= image_tag '0835.png', class: 'h-max aspect-auto mx-auto' %>
      </div>

      <div class="lg:col-start-4 lg:col-span-5 md:col-start-3 md:col-span-5 col-start-2 col-span-3 sm:h-44 h-36">
        <h1 class="text-center font-kosugi text-blackpanther lg:text-xl md:text-lg text-base font-medium my-4">ASMR</h1>
        <p class="text-center whitespace-normal font-mplus text-stone600 lg:text-base md:text-sm text-xs sm:mx-10 xs:mx-4 mx-3">
        「Autonomous Sensory Meridian Response」の略。
        人の聴覚や視覚を刺激したり、ゾクゾクしたり、
        心地よくなる音を収録した動画です。
        </p>
      </div>
    </div>
  </section>
  <div class="flex justify-center items-center my-10">
    <%= link_to root_path do%>
      <button class="inline-flex items-center h-10 px-5 text-blackpanther font-mplus bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
        </svg>
        <span> Back Page </span>
      </button>
    <% end %>
  </div>
</div>