<div class="mt-24">
  <section class="text-blackpanther body-font">
    <div class="container px-3 sm:px-5 pt-2 sm:pt-12 pb-2 mx-auto">
      <div class="text-center mb-12">
        <h1 class="text-xl sm:text-2xl font-medium text-center font-kosugi text-sblackpanther mb-4">About Muksearch</h1>
        <p class="font-kosugi text-stone500 text-sm sm:text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">モッパン動画を、「聞きたい音」「見たい食べ物」を検索ワードを入力する手間なく、
        日本語＆韓国語から気軽に検索できるサービスです。</p>
      </div>
      <div class="border-b border-blackpanther"></div>
    <div>
    <div class="container px-3 sm:px-5 pt-12 pb-2 mx-auto justify-cente">
      <div class="text-center mb-8 pb-8">
        <h1 class="text-xl sm:text-2xl font-medium text-center font-kosugi text-blackpanther mb-4">モッパン動画とは？</h1>
        <p class="font-kosugi text-stone500 text-sm sm:text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">YouTubeなどの動画配信サイトにて、多くの料理を並べておいしそうに食事をする様子を配信したり、咀嚼音をASMRとして楽しむような動画のことです。世界でも多く投稿されています。</p>
      </div>
      <div class="grid grid-cols-3 gap-2 sm:gap-6 m-6 text-center font-kosugi">
        <div class="col-span-2 w-full">
          <p class="underline-offset-1 text-lg sm:text-xl pb-4 text-blackpanther">モッパン（モクバン）</p>
          <p class="text-justify h-38 text-sm sm:text-base text-stone500">韓国で広まった食事する様子を配信する動画コンテンツの事です。元々韓国語で「食べる（モグヌン」と「放送（バンソン）」を合わせて「モッパン」と呼ばれるようになり、今では日本人の動画配信者も動画のタイトルに使用する事が多いです。</p>
        </div>
        <div class="h-38 flex justify-center items-center">
          <%= image_tag '0978.png', size: '150x150', class: 'inline-block' %>
        </div>
        <div class="h-38 flex justify-center items-center">
          <%= image_tag '0835.png', size: '150x150', class: 'inline-block' %>
        </div>
        <div class="col-span-2 w-full">
          <p class="underline-offset-1 text-lg sm:text-xl pb-4 text-blackpanther">ASMR</p>
          <p class="text-justify h-38 text-sm sm:text-base text-stone500 ">「Autonomous Sensory Meridian Response」の略で、人の聴覚や視覚を刺激する、ゾクゾクしたり、心地よくなる音を収録した動画です。</p>
        </div>
      </div>
      <div class="border-b border-blackpanther"></div>
    <div>
    <div class="flex justify-center items-center my-4">
      <%= link_to root_path do%>
        <button class="ml-4 text-calm font-kosugi bg-blackpanther border-0 my-2 py-2 px-6 focus:outline-none hover:bg-stone500 rounded text-base sm:text-lg">さっそく検索してみる</button>
      <% end %>
    </div>
  </section>
</div>