<div class="mt-24">
  <section class="text-stone700 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="font-sans sm:text-4xl text-3xl mb-4 font-medium text-stone700">What is
          <br class="hidden lg:inline-block">Muksearch
        </h1>
        <p class="mb-8 leading-relaxed font-kosugi">YouTubeに投稿されているモッパンASMRの動画を「聴きたい音」や「見たい食べ物」の用語一覧から気軽に検索・視聴できるサービスです。</p>
        <div class="flex flex-col justify-center">
          <%= link_to onomatopoeias_path do%>
            <button class="ml-4 inline-flex text-stone700 font-kosugi bg-bluegray border-0 my-2 py-2 px-9 focus:outline-none hover:bg-darkbluegray hover:text-grayishwall rounded text-lg">聞きたい音から検索  </button>
          <% end %>
          <%= link_to foods_path do%>
            <button class="ml-4 inline-flex text-stone700 font-kosugi bg-bluegray border-0 my-2 py-2 px-6 focus:outline-none hover:bg-darkbluegray hover:text-grayishwall rounded text-lg">見たい食べ物から検索</button>
          <% end %>
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <%= image_tag "top_image.jpeg", class: "object-cover object-center rounded"%>
      </div>
    </div>
  </section>
</div>