<% if object.errors.any? %>
  <div id="error_messages" class="alert alert-danger">
    <ul class="mb-2">
      <% object.errors.full_messages.each do |message| %>
        <li class="bg-red-100 px-4 py-1 text-red-700 text-xs"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>