<div class="p-4 rounded-lg shadow md:flex md:items-center md:justify-between md:p-6">
  <span class="text-sm text-blackpanther sm:text-center hover:text-stone400">© 2022 <a href="https://muksearch.herokuapp.com/" class="hover:underline">Muksearch</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 sm:mt-0">
    <div class="px-5 py-2">
      <%= link_to  privacy_policy_path, class:"text-sm leading-6 text-blackpanther hover:text-stone400" do %>
        <p>Privacy Policy</p>
      <% end %>
    </div>
    <div class="px-5 py-2">
      <%= link_to terms_of_use_path, class:"text-sm leading-6 text-blackpanther hover:text-stone400" do %>
        <p>Terms of Use</p>
      <% end %>
    </div>
    <div class="px-5 py-2">
      <%= link_to "#", class:"text-sm leading-6 text-blackpanther hover:text-stone400" do %>
        <p>Contact</p>
      <% end %>
    </div>
  </ul>
</div>
