<header>
  <div class="relative bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 bg-gray-200">
      <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
        <!-- ロゴ画像 -->
        <div class="flex space-x-4 justify-start lg:w-0 lg:flex-1">
          <%= link_to image_tag("loupe_hand_mono.png", class: "h-8 w-auto sm:h-10"), root_path %>
          <span class="self-center text-xl font-mono whitespace-nowrap dark:text-white">Muksearch</span>
        </div>
        <!-- ./ロゴ画像 -->
        <div class="md:flex space-x-2 tems-center justify-end md:flex-1 lg:w-0">
          <a href="#" class="whitespace-nowrap text-base font-mono font-medium text-gray-500 hover:text-gray-900"> Request </a>
        </div>
        <!-- Aboutも作る -->
      </div>
    </div>
  </div>
</header>
