<!-- button -->
<div class="flex justify-center mx-autoitems-center w-auto lg:w-4/5 my-2">
  <button id="open" class="text-center p-2 sm:w-1/2 w-full bg-gray-100 rounded hover:bg-gray-300">
    <p class="title-font font-semibold text-center"><%= food.japanese_notation %></p>
  </button>
</div>
<!-- /.button -->
<!-- modal -->
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!-- overlay -->
  <div id="overlay" class="fixed hidden inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <!-- open -->
  <div id="modal-open" class="hidden fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
      <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <!--- modal中身 -->
          <div class="flex flex-col mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <button class="text-center my-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">日本語表記(<%= food.japanese_notation %>)で探す</button>
            <button class="text-center my-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">韓国語表記(<%= food.korean_notation %>)で探す</button>
          </div>
          <!--- /.modal中身 -->
        </div>
        <!-- close -->
        <div id="close" class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Close</button>
        </div>
        <!-- /.close -->
      </div>
    </div>
  </div>
  <!-- /.open -->
</div>
<!-- /.modal -->
