<div class="relative col-span-2 sm::h-12 xs:h-10 h-8">
  <button class="absolute inset-0 current_nav_icon mx-auto sm:h-12 xs:h-10 h-8 text-blackpanther bg-zinc200 rounded-lg hover:bg-zinc300" data-modal-link="<%= food.id %>">
    <p class="font-mplus lg:text-lg md:text-base text-sm text-center"><%= food.japanese_notation %></p>
  </button>
</div>
<%= render 'modal', food: food %>