<div class="mt-24">
  <section class="text-gray-600 body-font">
    <div class="container px-5 pt-12 pb-2 mx-auto">
      <div class="text-center mb-8 text-blackpanther">
        <h1 class="sm:text-3xl text-2xl font-medium text-center font-kosugi mb-4">見たい食べ物から検索</h1>
        <p class="font-kosugi text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">気になる食べ物をクリック</p>
      </div>
    </div>
  </section>
  <div class="border-b border-blackpanther my-6 mx-12"></div>
  <section>
    <div class="container mx-auto p-5">
      <% if @foods.present? %>
        <%= render @foods %>
      <% end %>
    </div>

    <div class="flex justify-center items-center my-4">
      <%= link_to root_path do%>
        <button class="inline-flex items-center h-10 px-5 text-calm font-mplus transition-colors duration-150 bg-blackpanther rounded-lg focus:shadow-outline hover:bg-stone700 hover:text-calm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
          </svg>
          <span> Back Page </span>
        </button>
      <% end %>
    </div>
  </section>
</div>