<div class="mt-24">
  <div class="h-8 w-auto pt-3">
    <p class="flex justify-center font-kosugi text-blackpanther text-2xl">検索結果</p>
  </div>
  <section class="p-10 m-10">
    <div class="flex flex-wrap flex-row -mx-4 text-center">
      <% @movies.items.each do |item| %> 
        <div class="flex-shrink px-2 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-4 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
          <button class="js-modal-video" data-video-id="<%= item.id.video_id %>">  
            <div class="pt-8 pb-2 px-12 mb-12 bg-white border-b border-gray-100 shadow-xl transform transition duration-300 ease-in-out hover:-translate-y-2">
              <div class="inline-block text-gray-900 mb-4">
                <% snippet = item.snippet %>
                <div><img src="https://img.youtube.com/vi/<%= item.id.video_id %>/mqdefault.jpg"/></div>
                <p class="text-xs font-mplus text-blackpanther mt-3 pt-2 w-auto h-15 inline-block border-t-2 break-words line-clamp-3"><%= snippet.title %></p>
              </div>
            </div>
          </button>
        </div>
      <% end %>
    </div>

    <div class="flex justify-center items-center">
      <%= link_to :back do%>
        <button class="inline-flex items-center h-10 px-5 text-calm font-mplus transition-colors duration-150 bg-blackpanther rounded-lg focus:shadow-outline hover:bg-stone700 hover:text-calm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
          </svg>
          <span> Back Page </span>
        </button>
      <% end %>
    </div>
  </section>
</div>