<p id="notice"><%= notice %></p>

<h1>Onomatopoeias</h1>
<div id="js-hello-vue"></div>

<table>
  <thead>
    <tr>
      <th>Japanese notation</th>
      <th>Korean notation</th>
      <th colspan="3"></th>
    </tr>
  </thead>
